{% extends "layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1>
            <p>Looks like you have to active grows, would be nice to start one</p>
            <p><a class="btn btn-primary btn-lg" href="/grow/add/" role="button">Create a new Grow »</a></p>
        </div>
    </div>
{% endblock %}
