{% extends "layout.html.twig" %}

{% block header %}
    Grow
{% endblock %}

{% block javascripts %}
    <script language="JavaScript">
        $(document).ready(function() {
            $('#inputStartDate').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                orientation: "bottom left",
                todayHighlight: true,
                todayBtn: "linked"
            });
        });
    </script>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" name="name" class="form-control" id="inputName" value="YAG {{ "now"|date('Y') }}" placeholder="Give your grow a reasonable name">
        </div>

        <div class="form-group">
            <label for="numberOfPlants">Number of Plants</label>
            <select name="plants" class="form-control" id="numberOfPlants">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <div class="form-group">
            <label for="medium">Medium</label>
            <select name="medium" class="form-control" id="medium">
                <option value="hydro">Hydro</option>
                <option value="coco">Coco</option>
                <option value="soil">Soil</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="inputStartDate">Start Date</label>
            <div class="input-group" style="width: 150px;">
                <input type="text" name="start" class="form-control" id="inputStartDate" value="{{ "now"|date('Y-m-d') }}">
                <span class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></span>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Create Grow!</button> or <a href="/">cancel</a>
    </form>
{% endblock %}
